* {
    box-sizing: border-box;
}

html {
    background: rgb(50, 50, 50);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section,
.debug {
    color: white;
}